*{
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    background-color: rgb(87, 87, 87);
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0px;
}  
nav div {
    color:white;
}
main{
    /* margin: 10px 40px; */
}
section div{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
article{
    /* box with the 3 elements w/ words */
}
h4{
    /* selecting feature heading */
}
p:last-child{
    /* selecting call to action */\
}
p:last-child:hover{
    
}
footer{
    background-color: rgb(87, 87, 87);
}